@inherits LayoutComponentBase

<header class="sticky-top bg-white" style="box-shadow: 0 0 20px -4px #eeeeee;">
	<SiteHeader />
</header>
<div id="main">
	<NavMenu />
	@Body
</div>
<footer>
	<SiteFooter />
</footer>

@code {
	
}