@inherits LayoutComponentBase

@*<header class="sticky-top bg-white" style="box-shadow: 0 0 20px -4px #eeeeee;">
		<SiteHeader />
	</header>*@

<div id="main">
	<div class="width-all">
		<div class="width-90 container">
			<div class="row no-gutters">
				<div class="col-3 sticky-top">
					<NavMenu />
				</div>
				<div class="col-9">
					@Body
				</div>
			</div>
		</div>
	</div>
</div>
@*<footer>
		<SiteFooter />
	</footer>*@
<AnchorUtilsComponent />

@code {
	protected override async Task OnInitializedAsync()
	{
	}

	protected override async Task OnAfterRenderAsync(bool firstrun)
	{

	}
}