
@inject System.Net.Http.HttpClient Http
@using System.Diagnostics
@using Blazored.Menu

@if (MenuBuilder == null)
{

	<p><em>...</em></p>
}
else
{
	<BlazoredMenu Css="sticky-top" MenuBuilder="@MenuBuilder" />
}

@code {
	MenuBuilder MenuBuilder;

	protected override async Task OnInitializedAsync()
	{
		MenuItem[] menuItems = await Http.GetJsonAsync<MenuItem[]>("Markdown/toc.json");
		MenuBuilder = new MenuBuilder(menuItems.ToList());
	}
}