@page "/attic"
<Template Name="Projects in the Attic" MetaDescription="Projects in the Attic are no longer actively maintained.">
    <Description>Projects listed on this page are no longer actively maintained.</Description>
    <OtherArea>
        <div class="row g-0 mb-5">
            <div class="col-6">
                <div class="my-5" style="margin-top: 0 !important;">
                    <div class="bi bi-github">
                        &nbsp;<Href href="https://github.com/SteeltoeOSS/Steeltoe/tree/3.x/src/CircuitBreaker" NewWindow="true">Steeltoe Circuit Breaker</Href>
                    </div>
                    <div>
                        .NET implementation of Netflix Hystrix.
                    </div>
                </div>
                <div class="my-5">
                    <div class="bi bi-github">
                        &nbsp;<Href href="https://github.com/SteeltoeOSS/Steeltoe/tree/3.x/src/Messaging" NewWindow="true">Steeltoe Messaging</Href>
                    </div>
                    <div>
                        High-level abstraction for sending and receiving messages with an implementation for RabbitMQ.
                    </div>
                </div>
                <div class="my-5">
                    <div class="bi bi-github">
                        &nbsp;<Href href="https://github.com/SteeltoeOSS/Steeltoe/tree/3.x/src/Stream" NewWindow="true">Steeltoe Stream</Href>
                    </div>
                    <div>
                        Framework for building message-driven microservice applications with support for RabbitMQ and Spring Cloud Data Flow.
                    </div>
                </div>
            </div>
        </div>
    </OtherArea>
</Template>

