@page "/community"

<Template Name="Community" MetaDescription="Connect with other developers and share your project with the Steeltoe community.">
    <Description>Connect with other developers and share your project with the Steeltoe community.</Description>
    <OtherArea>
        <div class="row g-0 mb-5">
            <div class="col-6">
                <div class="component-whatis-title">
                    <h2>Developers</h2>
                </div>
                <div class="my-5">
                    <div class="bi bi-slack">
                        &nbsp;<Href href="https://slack.steeltoe.io" NewWindow="true">Steeltoe Slack</Href>
                    </div>
                    <div>
                        Slack is the best place to get your questions answered, contribute to conversations, and find the latest information about the Steeltoe project.
                        If you have trouble joining, try <a href="https://join.slack.com/t/steeltoeteam/shared_invite/zt-1cd7lh4pi-BlfQsI6nEDEX2qbh5JrRZw">this link</a> or <a href="mailto:info@steeltoe.io?subject=Slack%20Invite">email us</a>.
                    </div>
                </div>
                <div class="my-5">
                    <div class="bi bi-stack-overflow">
                        &nbsp;<Href href="https://stackoverflow.com/questions/tagged/steeltoe" NewWindow="true">Stack Overflow</Href>
                    </div>
                    <div>Ask questions and get help with problems from the global Steeltoe community of users and practitioners.</div>
                </div>
                <div class="my-5">
                    <div class="bi bi-github">
                        &nbsp;<Href href="https://github.com/SteeltoeOSS" NewWindow="true">Steeltoe on GitHub</Href>
                    </div>
                    <div>Find the code for Steeltoe projects, raise issues, suggest changes, and view milestones and releases.</div>
                </div>
                <div class="my-5">
                    <div class="bi bi-twitter-x">
                        &nbsp;<Href href="https://x.com/steeltoeoss" NewWindow="true">Steeltoe on Twitter/X</Href>
                    </div>
                    <div>Stay up to date with the latest Steeltoe releases and blog posts.</div>
                </div>
            </div>
        </div>
    </OtherArea>
</Template>
