bin
obj
.vs
.DS_Store

# Items produced or moved by docfx
src/Steeltoe.io/wwwroot/api/
src/Steeltoe.io/wwwroot/articles/
src/Steeltoe.io/wwwroot/docs
src/Steeltoe.io/wwwroot/guides/
src/Steeltoe.io/wwwroot/public/
src/Steeltoe.io/wwwroot/favicon.ico
src/Steeltoe.io/wwwroot/index.json
src/Steeltoe.io/wwwroot/logo.svg
src/Steeltoe.io/wwwroot/manifest.json
src/Steeltoe.io/wwwroot/*xrefmap.yml
src/Steeltoe.io/docfx-content/api/**/.manifest
src/Steeltoe.io/docfx-content/api/**/*.yml

src/api-browser-generation/sources/
src/api-browser-generation/yaml/

