bin
obj
.vs
.DS_Store

# Items produced or moved by docfx
build/sources/

docs/api/**/.manifest
docs/api/**/*.yml

src/Steeltoe.io/wwwroot/api/
src/Steeltoe.io/wwwroot/articles/
src/Steeltoe.io/wwwroot/docs
src/Steeltoe.io/wwwroot/guides/
src/Steeltoe.io/wwwroot/public/
src/Steeltoe.io/wwwroot/favicon.ico
src/Steeltoe.io/wwwroot/index.json
src/Steeltoe.io/wwwroot/logo.svg
src/Steeltoe.io/wwwroot/manifest.json
src/Steeltoe.io/wwwroot/sitemap.xml
src/Steeltoe.io/wwwroot/*xrefmap.yml
