# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core
pool:
  vmImage: 'ubuntu-latest'

steps:
- script: dotnet publish './src/ParseMD/ParseMD.csproj' --output './publish' --configuration Release
- script: ls
- script: ls ./publish
- script: ./publish/ParseMD.exe "./docs" "./output"

- task: CopyFiles@2
  inputs:
    SourceFolder: './output'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    CleanTargetFolder: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'