trigger:
  branches:
    include:
    - dev
  paths:
    exclude:
    - README.md
    - docfx/
    - azure-pipelines-metadata.yaml
    - build-metadata.sh
    - Dockerfile-metadata
    - metadata.conf

stages:
- stage: deploy
  displayName: Deploy
  condition:
    not(eq(variables['build.reason'], 'PullRequest'))
  jobs:
  - job: deploy
    displayName: Deploy
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push Docker Image
      inputs:
        command: buildAndPush
        containerRegistry: SteeltoeContainerRegistry
        repository: documentation
        tags: |
          $(Build.BuildId)
          latest
    - task: ShellScript@2
      displayName: Generate Staging Manifest
      inputs:
        scriptPath: ./yttw.sh
        args: >
          -f kubernetes
          -v image_tag=$(Build.BuildId)
          -v hostname=docs-dev.steeltoe.io
          --output-files manifests/staging
    - task: ShellScript@2
      displayName: Generate Production Manifest
      inputs:
        scriptPath: ./yttw.sh
        args: >
          -f kubernetes
          -v image_tag=$(Build.BuildId)
          -v replica_count=2
          -v hostname=docs.steeltoe.io
          --output-files manifests/production
    - task: PublishPipelineArtifact@1
      displayName: Publish Manifests
      inputs:
        targetPath: manifests
        artifactName: manifests
