@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');

/* DEVELOP WIDTH = 1400px */
html, body {
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	scroll-behavior: smooth;
}

/* =====================DOCFX OVERRIDE===================== */
header .navbar{
  background-color: white;
  padding: 5px 0 5px 0;
  border: 0;
  height: 82px;
}
header .subnav{
	height: 50px;
}
.navbar-brand {
    height: 82px;
}
.navbar-nav:hover{
	color: #00376e;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-text,
.navbar-inverse .navbar-nav>a:focus,
.navbar-inverse .navbar-nav>a:hover {
	padding-top: 5px;
	color: #00376e;
	text-decoration: none;
	background-color: transparent;
}
.nav.navbar-nav{padding: 8px 0 0 0;}
.navbar>.container, .navbar>.container-fluid {
    display: inherit;
    flex-wrap: unset;
}
.nav{
	display: inherit;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: inherit;
    background-color: transparent;
}
#autocollapse .navbar-header {
    margin-right: 71px;
}