@import url('../../../styles/open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');

/* DEVELOP WIDTH = 1400px */
html, body {
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	scroll-behavior: smooth;
}

/* =====================DOCFX OVERRIDE===================== */
.nav.level2 li {
	padding: 5px 0 5px 0;
}
article h1{
	color: #0066cc;
}
h1 {
	font-weight: 700;
	line-height: 1em;
	font-size: 210%;
}
h2 {
	font-weight: 500;
	line-height: 1em;
	font-size: 175%;
}
h3 {
	font-weight: 300;
	line-height: 1em;
	font-size: 140%;
}
.tabGroup {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.article {
  margin-top: 82px;
  margin-bottom: 66px;
}
pre {
	padding: 0;
}
.sideaffix {
	font-size: 90%
}

 /* NAV BAR */
.navbar{
	padding: 0;
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
}
.navbar-brand{
	float: unset;
	height: unset;
	padding: unset;
}
.nav-item{
	min-width: unset;
}

@media only screen and (max-width: 768px){
	.sideaffix {
			display: unset;
	}
}
.nav {
	display: unset;
}
.dropdown-item{
	color: #0066cc;
}

@media (min-width: 1200px) {
	.container {
			max-width: 1250px;
	}
}
@media (max-width: 1199px) {
	.container {
			max-width: 100%;
	}
}
 @media (max-width: 768px) {
	.container {
			max-width: 100%;
	}
}
@media (max-width: 576px) {
	.container {
			max-width: 100%;
	}
}
@media (min-width: 768px){
	.navbar-collapse.collapse {
			display: unset;
	}
}
.collapse:not(.show) {
	display: none;
}