@import url('/styles/open-iconic/font/css/open-iconic-bootstrap.min.css');

@font-face {
  font-family:'Metropolis';
    font-style:normal;
    font-weight:400;
    font-weight:300;
    font-weight:200;
    font-weight:100;
    src:url("/fonts/Metropolis-Regular.woff2") format("woff2"),
            url("/fonts/Metropolis-Regular.woff") format("woff");

}
@font-face {
  font-family: 'Metropolis';
    font-weight:450;
  font-style: normal;
    src:url("/fonts/Metropolis-Medium.woff2") format("woff2"),
            url("/fonts/Metropolis-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Metropolis';
  font-family:'Metropolis';
    font-weight:500;
    font-weight: bold;
    font-style: normal;
    src:url("/fonts/Metropolis-Bold.woff2") format("woff2"),
            url("/fonts/Metropolis-Bold.woff") format("woff");
}

/* DEVELOP WIDTH = 1400px */
html, body {
    font-family: 'Metropolis', sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    scroll-behavior: smooth;
}

/* Bootstrap Override */

div[role=main].container-fluid.body-content {
    margin-top: 100px;
}

div.subnav.navbar.navbar-default {
    background-color: #fff;
}

.navbar > .container {
    display: block;
}

/* =====================DOCFX OVERRIDE===================== */
p {
    font-size: larger;
}
/* .nav.level2 li {
    padding: 5px 0 5px 0;
} */
article h1{
    color: #0066cc;
}
article.content.wrap{margin-bottom: 7%;}
article h1, article h2, article h3, article h4{
  margin-top: 50px;
}
h1 {
    font-weight: 700;
    line-height: 1em;
    font-size: 210%;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
    font-weight: 500;
    line-height: 1em;
    font-size: 175%;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h3 {
    font-weight: 300;
    line-height: 1em;
    font-size: 140%;
}
.tabGroup {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.article {
  margin-top: 82px;
  margin-bottom: unset;
}
.article.row.grid{margin-left: unset;}
pre {
    padding: 0;
    box-shadow: none;
    border: 1px solid #d9d9d9;
}
.row {
    margin-left: auto;
    margin-right: auto;
}
.sideaffix {
    font-size: 90%
}
.hljs {
    padding: 1em 1.5rem !important;
}
.toc .level1 > li {
    font-size: 15px;
}
.toc .nav > li> .expand-stub {
    color: #666666;
}
.toc .nav > li> .expand-stub:hover {
    color: black;
}
 /* NAV BAR */
.navbar{
    padding: 0;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    padding-left: 40px;
    padding-right: 40px;
}
.subnav {
    padding-left: 0;
    padding-right: 0;
}
.navbar:after {
    content: none;
}
.navbar-brand{
    float: unset;
    height: unset;
    padding: unset;
}
.nav-item{
    min-width: unset;
}

/* Breadcrumbs */
.navbar:before {
    display: none;
}
#breadcrumb {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
}

.breadcrumb {
    padding: 0px;
}

ul.breadcrumb > :first-child {
    font-weight: bold;
}

.article-wrapper {
    padding-left: 35px;
    padding-right: 35px;
}

.article-wrapper.doc-wrapper > article > h1 {
    margin-top: 0px;
}

@media only screen and (max-width: 768px){
    .article-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .sideaffix {
        display: unset;
    }
}
.nav {
    display: unset;
}
.dropdown-item{
    color: #0066cc;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1250px;
    }
}
@media (max-width: 1199px) {
    .container {
        max-width: 100%;
    }
}
 @media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 768px){
    .navbar-collapse.collapse {
        display: unset;
    }
}
.collapse.in {
    display: unset;
}

.sideVersion{
    position: initial;
    /* top: 135px; */
    width: 260px; 
    z-index: 1;
}

#version-toggles {
    position: fixed;
    top: 135px;
    width: 260px;
}

.sidefilter {
    top: 172px;
    width: 260px;
    z-index: 500;
}
.sidetoc {
    top: 224px;
    width: 260px; 
}
.sidetoc a {
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn.active, .btn:active {
    outline: 0;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: #0066cc;
    border: 0;
}

/* Side Nav Positioning (fix vertically, flex horizontally) */

.inflow {
    float: right;
    position: relative;
}

.positioner {
    position: absolute;
    right: 0;
}
.blog-wrapper + .col-2 #affix {
    margin-top: 0 !important;
}
#affix {
    margin-top: -15px;
    padding-left: 10px;
    overflow-wrap: break-word;
}
#affix .level3,
#affix .level4,
#affix .level5 {
    padding-left: 10px;
}
#affix .title {
    display: none;
}
.affix > ul > li.active:last-child {
    margin-bottom: 0;
}
.toc .level1 > li {
    margin-top: 0;
    padding: 0;
    font-size: 14px;
}
.toc .level1 > li {
    font-weight: normal;
}
.level3 {
    font-size: 14px;
}
.affix > ul > li > a:before {
    top: 4px;
    left: 2px;
}
.affix ul ul > li > a:before {
    left: -12px;
}
.affix > ul.level1 {
    padding-bottom: 0;
}
.affix > ul > li.active > a {
    color: #337ab7;
    font-weight: bold;
    margin-left: 13px;
}
.affix ul > li.active > ul {
    white-space: normal;
}
.level1 .affix .nav li > a:before {
    top: -2px;
    left: -10px;
}
.toc .level2 {
    margin: 0px 0 0 15px;
}
.level2 .level2 li > a:before {
    top: 0px !important;
    left: -14px !important;
}
.level2 li:last-child {
    margin-bottom: 0;
}
.level1 .in > a,
.affix li.active > a,
.toc > .level1 > li.active > a,
.level1 .affix .nav li,
.nav.level2 > li,
.toc > .level1 > li {
    margin-bottom: 8px;
}
.active.in li:last-child, .active.in li:last-child>a, .bs-docs-sidenav > li.active a {
    margin-bottom: 0;
}
#wrapper > .container-fluid .row > .col-xl-3 + .col-xl-7 + .col-2 {
    display: none;
}
#wrapper > .container-fluid .row > .col-xl-3 + .col-xl-7 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.code-badge-copy-icon {
    color: black;
}
/************ BLOG ************/
.blog-entry{
    padding: 1%;
}

@media (min-width: 950px) {
    .blog-entry{
        max-width: 75%;
    }
}
.blog-entry p{margin:0}
.blog-entry p span {
    color: #0066cc;
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 5px;
}
.blog-entry p a{
    color: #00376e;
    font-size: 115%;
}
.blog-entry.latest{
    background-color: #00376e;
    color: #ffffff;
    padding: 3%;
    margin-bottom: 2%;
}
.blog-entry.latest p span {
    color: #ffd700;
}
.blog-entry.latest p a {
    color: #ffffff;
}
#blog-specs{
    margin-top: 3%;
}
#blog-specs #date::before{
    content: 'DATE: ';
    font-weight: 700;
    font-size: smaller;
    color: #999999;
}
#blog-specs #name::before{
    content: 'AUTHOR: ';
    font-weight: 700;
    font-size: smaller;
    color: #999999;
}
#blog-specs #name{
    font-size: 130%;
}
#blog-specs #date{
    font-size: 130%;
}
#blog-specs img{height:30px;width:30px;}
#blog-specs img{height:30px;width:30px;}

.blog-wrapper {
    padding: 0px 0px 0px 5%;
}

/************ API Browser ************/

.hide {
    display: none;
}

.show {
    display: block;
}

.api-browser .toc .nav > li > a {
    font-size: 14px;
}

#api-navigation {
    background-color: #F1F1F1;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    padding: 15px;
    top: 173px;
    position: fixed;
    width: 260px;
}

.api-browser .sidefilter {
    top: 222px;
    z-index: 50;
}

.api-browser .sidetoc {
    top: 288px;
    z-index: 25;
}

select.api-namespace {
    font-size: 0.83em;
    padding: 4px 0px;
}

select.api-namespace option {
    font-size: 15px;
}

#close-sidenav {
    display: none;
}

#open-sidenav {
    display: none;
}

#close-sidebar {
    display: none;
}

.mobile-toc-showhide {
    display: none;
}

img {
    max-width: 100%;
}

/**** Responsive Adjustments ****/

@media only screen and (max-width: 1200px) {
    .navbar-collapse.collapse:not(.in) {
        display: none !important;
    }

    .article.grid-right {
        margin-top: 0px !important;
    }

    article h1, article h2, article h3, article h4 {
        margin-top: 0px;
    }

    .article-wrapper.col-xl-7 {
        margin-left: 5%;
    }

    #breadcrumb {
        display: none;
    }

    .sidenav {
        background-color: #fff;
        margin-left: 0px;
        padding: 20px 0;
        z-index: 500;
    }
    
    .sideVersion {
        bottom: 0;
        left: 0;
        position: fixed;
    }

    .sidefilter {
        position: fixed;
    }

    .sidetoc {
        position: fixed;
    }

    .toc li::after {
        content: "";
    }

    .mobile-toc-showhide {
        display: block;
    }

    #close-sidenav {
        background-color: #F1F1F1;
        display: block;
        padding-right: 10px;
        text-align: right;
        top: 111px;
        width: 260px;
        position: fixed;
    }

    #open-sidenav {
        color: #0066cc;
        padding: 10px;
        display: inline;
    }
    
    #open-sidenav .mobile-toc-showhide {
        border: solid #0066cc 1px;
        display: inline;
        padding: 5px;
        width: fit-content;
    }

    /*** SIDE BAR ***/
    .mobile-sidebar-select {
        display: inline-table;
        float: right;
        font-weight: bolder;
        height: 10px;
        transform: rotate(90deg);
        width: 10px;
        display: none;
    }

    div[role=complementary] {
        left: 270px;
        z-index: 5;
    }

    .sideaffix {
        background-color: #FFF;
        border: solid black 1px;
        height: fit-content;
        padding: 10px;
        right: 15px;
    }

    div[role=complementary].d-none.d-md-block {
        display: none!important;
    }

    #sidetoggle.collapse.collapse {
        display: none;
    }

    nav.bs-docs-sidebar.affix {
        padding: 0 10px;
    }

    #close-sidebar {
        display: block;
        text-align: right;
    }

    .inflow {
        float: unset;
    }

    /** Fix "Back to top covering text **/
    .doc-wrapper article.content.wrap {
        margin-bottom: 10%;
    }
}

@media (max-width:767px) {
    .navbar-nav .open .dropdown-menu {
        border: 1px solid rgba(0,0,0,.15);
    }
}

/**** Blog Live Preview ****/


.blog-list-wrapper {
    margin:auto;
    padding: 0px 10%;
    text-align: center;
}

ul.blog-list > :first-child {
    font-style: italic;
}

ul.blog-list > :first-child .blog-date {
    font-size: 1.1em;
    font-style: italic;
}

ul.blog-list > :first-child .blog-date::after {
    color: red;
    content: ' * LATEST';
    font-size: .6em;
    font-style: italic;
}

.blog-item {
    border: solid #e7e7e7 1px;
    list-style: none;
    margin: 10px 0px;
    padding: 20px;
    text-align: left;
}

.blog-item:hover {
    border: solid 1px #0066cc;
    cursor: pointer;
}

.blog-date {
    color: #0066cc;
    font-weight: bold;
}

.blog-author {
    float: right;
}

.blog-author::before {
    content: 'By: ';
}

.blog-title {
    font-size: 1.5em;
    margin-top: 10px;
    padding: 10px;
}

@media only screen and (max-width: 768px) {

    div[role=main].container-fluid.body-content {
        margin-top: 0px;
    }

    .blog-list-wrapper {
        width: 100%;
        padding: 0px;
    }
}