@import url('../../../styles/open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');

/* DEVELOP WIDTH = 1400px */
html, body {
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	scroll-behavior: smooth;
}

/* Bootstrap Override */

div[role=main].container-fluid.body-content {
	margin-top: 100px;
}

div.subnav.navbar.navbar-default {
	background-color: #fff;
}

.navbar > .container {
	display: block;
}

/* =====================DOCFX OVERRIDE===================== */
p {
	font-size: larger;
}
.nav.level2 li {
	padding: 5px 0 5px 0;
}
article h1{
	color: #0066cc;
}
article.content.wrap{margin-bottom: 7%;}
h1 {
	font-weight: 700;
	line-height: 1em;
	font-size: 210%;
}
h2 {
	font-weight: 500;
	line-height: 1em;
	font-size: 175%;
}
h3 {
	font-weight: 300;
	line-height: 1em;
	font-size: 140%;
}
.tabGroup {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.article {
  margin-top: 82px;
  margin-bottom: unset;
}
.article.row.grid{margin-left: unset;}
pre {
	padding: 0;
}
.sideaffix {
	font-size: 90%
}

 /* NAV BAR */
.navbar{
	padding: 0;
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
}
.navbar-brand{
	float: unset;
	height: unset;
	padding: unset;
}
.nav-item{
	min-width: unset;
}

/* Breadcrumbs */
#breadcrumb {
	margin-top: 30px;
}

.breadcrumb {
	padding: 0px;
}

ul.breadcrumb > :first-child {
	font-weight: bold;
}

.article-wrapper.doc-wrapper > article > h1 {
    margin-top: 0px;
}

@media only screen and (max-width: 768px){
	.sideaffix {
			display: unset;
	}
}
.nav {
	display: unset;
}
.dropdown-item{
	color: #0066cc;
}

@media (min-width: 1200px) {
	.container {
			max-width: 1250px;
	}
}
@media (max-width: 1199px) {
	.container {
			max-width: 100%;
	}
}
 @media (max-width: 768px) {
	.container {
			max-width: 100%;
	}
}
@media (max-width: 576px) {
	.container {
			max-width: 100%;
	}
}
/*
@media (min-width: 768px){
	.navbar-collapse.collapse {
			display: unset;
	}
}
 .collapse:not(.show) {
	display: none;
} */
.sideVersion{
	position: initial;
	/* top: 135px; */
	width: 260px; 
	z-index: 1;
}

#version-toggles {
	position: fixed;
	top: 135px;
	width: 260px;
}

.sidefilter {
	top: 172px;
	width: 260px;
	z-index: 500;
}
.sidetoc {
	top: 224px;
	width: 260px; 
}

.btn.active, .btn:active {
	outline: 0;
	-webkit-box-shadow: unset;
	box-shadow: unset;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
	background-color: #0066cc;
	border: 0;
}

/* Side Nav Positioning (fix vertically, flex horizontally) */

.inflow {
	float: right;
	position: relative;
}

.positioner {
	position: absolute;
	right: 0;
}

/************ BLOG ************/
.blog-entry{
	padding: 1%;
}

@media (min-width: 950px) {
	.blog-entry{
		max-width: 75%;
	}
}
.blog-entry p{margin:0}
.blog-entry p span {
	color: #0066cc;
	font-weight: 700;
	text-transform: uppercase;
	padding-right: 5px;
}
.blog-entry p a{
	color: #00376e;
	font-size: 115%;
}
.blog-entry.latest{
	background-color: #00376e;
	color: #ffffff;
	padding: 3%;
	margin-bottom: 2%;
}
.blog-entry.latest p span {
	color: #ffd700;
}
.blog-entry.latest p a {
	color: #ffffff;
}
#blog-specs{
	margin-top: 3%;
}
#blog-specs #date::before{
	content: 'DATE: ';
	font-weight: 700;
	font-size: smaller;
	color: #999999;
}
#blog-specs #name::before{
	content: 'AUTHOR: ';
	font-weight: 700;
	font-size: smaller;
	color: #999999;
}
#blog-specs #name{
	font-size: 130%;
}
#blog-specs #date{
	font-size: 130%;
}
#blog-specs img{height:30px;width:30px;}
#blog-specs img{height:30px;width:30px;}

.blog-wrapper {
	padding: 0px 0px 0px 5%;
}

/************ API Browser ************/

.hide {
	display: none;
}

.show {
	display: block;
}

.api-browser .toc .nav > li > a {
	font-size: 14px;
}

#api-navigation {
	background-color: #F1F1F1;
	border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    padding: 15px;
	top: 173px;
    position: fixed;
    width: 260px;
}

.api-browser .sidefilter {
    top: 222px;
    z-index: 50;
}

.api-browser .sidetoc {
	top: 252px;
    z-index: 25;
}

select.api-namespace {
    font-size: 0.83em;
    padding: 4px 0px;
}

select.api-namespace option {
    font-size: 15px;
}

#close-sidenav {
	display: none;
}

#open-sidenav {
	display: none;
}

#close-sidebar {
	display: none;
}

.mobile-toc-showhide {
	display: none;
}

/**** Mobile Side Nav & TOC Adjustments ****/

@media only screen and (max-width: 1200px) {

	.article.grid-right {
		margin-top: 0px!important;
	}

	article h1, article h2, article h3, article h4 {
		margin-top: 0px;
	}

	.article-wrapper.col-xl-7 {
		margin-left: 5%;
	}

	#breadcrumb {
		display: none;
	}

	.sidenav {
		background-color: #fff;
		margin-left: 0px;
		padding: 20px 0px 0px 5%;
		z-index: 500;
	}
	
	.sideVersion {
		bottom: 0;
		left: 0;
		position: fixed;
	}

	.sidefilter {
		position: fixed;
	}

	.sidetoc {
		position: fixed;
		overflow-y: scroll;
	}

	.toc li::after {
		content: "";
	}

	.mobile-toc-showhide {
		display: block;
	}

	#close-sidenav {
		background-color: #F1F1F1;
		display: block;
		padding-right: 10px;
		text-align: right;
		top: 111px;
		width: 260px;
		position: fixed;
	}

	#open-sidenav {
		color: #0066cc;
		padding: 10px;
		display: inline;
	}
	
	#open-sidenav .mobile-toc-showhide {
		border: solid #0066cc 1px;
		display: inline;
		padding: 5px;
		width: fit-content;
	}

	/*** SIDE BAR ***/
	.mobile-sidebar-select {
		display: inline-table;
		float: right;
		font-weight: bolder;
		height: 10px;
		transform: rotate(90deg);
		width: 10px;
	}

	div[role=complementary] {
		left: 270px;
		z-index: 5;
	}

	.sideaffix {
		background-color: #FFF;
		border: solid black 1px;
		height: fit-content;
		padding: 10px;
		right: 15px;
	}

	div[role=complementary].d-none.d-md-block {
		display: none!important;
	}

	#sidetoggle.collapse.collapse {
		display: none;
	}

	nav.bs-docs-sidbar.affix {
		padding: 10px;
	}

	#close-sidebar {
		display: block;
		text-align: right;
	}

	.inflow {
		float: unset;
	}
}

/**** Blog Live Preview ****/


.blog-list-wrapper {
	margin:auto;
	padding: 0px 10%;
	text-align: center;
}

ul.blog-list > :first-child {
	font-style: italic;
}

ul.blog-list > :first-child .blog-date {
	font-size: 1.1em;
	font-style: italic;
}

ul.blog-list > :first-child .blog-date::after {
	color: red;
	content: ' * LATEST';
	font-size: .6em;
	font-style: italic;
}

.blog-item {
	border: solid #e7e7e7 1px;
	list-style: none;
	margin: 10px 0px;
	padding: 20px;
	text-align: left;
}

.blog-item:hover {
	border: solid 1px #0066cc;
	cursor: pointer;
}

.blog-item:hover > .preview, .preview:hover{
    display: block;
}

.blog-preview {
	border: solid #b8b4b4 1px;
	height: 500px;
	width: 500px;
}

.preview {
    display: none;
	margin-left: 200px;
	position: absolute;
    width: 100%;
    z-index: 500;
}

.blog-date {
	color: #0066cc;
	font-weight: bold;
}

.blog-author {
	float: right;
}

.blog-author::before {
	content: 'By: ';
}

.blog-title {
	font-size: 1.5em;
	margin-top: 10px;
	padding: 10px;
}

@media only screen and (max-width: 768px) {

	div[role=main].container-fluid.body-content {
		margin-top: 0px;
	}
	
	a:hover + .preview,.preview:hover {
		display: none;
	}

	.blog-list-wrapper {
		width: 100%;
		padding: 0px;
	}
}