<div class="row component-feature g-0">
    <div class="col-6 text-center">
        <div class="component-feature-img">
            <img class="img-fluid" src="@Feature.Img" alt="@Feature.Title"/>
        </div>
    </div>
    <div class="col">
        <div class="component-feature-title">@Feature.Title</div>
        <div class="component-feature-desc">@Feature.Description</div>
    </div>
</div>

@code
{
    [Parameter] public Feature Feature { get; set; }
}
