@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 400;
    font-weight: 300;
    font-weight: 200;
    font-weight: 100;
    src: url("/fonts/Metropolis-Regular.woff2") format("woff2"), url("/fonts/Metropolis-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Metropolis';
    font-weight: 450;
    font-style: normal;
    src: url("/fonts/Metropolis-Medium.woff2") format("woff2"), url("/fonts/Metropolis-Medium.woff") format("woff");
}

@font-face {
    font-family: 'Metropolis';
    font-family: 'Metropolis';
    font-weight: 500;
    font-weight: bold;
    font-style: normal;
    src: url("/fonts/Metropolis-Bold.woff2") format("woff2"), url("/fonts/Metropolis-Bold.woff") format("woff");
}

