/* DEVELOP WIDTH = 1400px */
html,
body {
    font-family: 'Metropolis', sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    scroll-behavior: smooth;
}

app {
    display: block;
}

/*=======================Error Display=======================*/
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/*=====================CONTAINER SIZING===================== */
.width-90 {
    max-width: 90%;
}

.width-80 {
    max-width: 80%;
}

.width-75 {
    max-width: 75%;
}

.width-70 {
    max-width: 70%;
}

.width-60 {
    max-width: 60%;
}

.width-55 {
    max-width: 55%;
}

.width-50 {
    max-width: 50%;
}

.width-all {
    max-width: 100%;
}

@media (min-width: 1400px) {
    .width-90 {
        max-width: 1260px;
    }

    .width-80 {
        max-width: 1120px;
    }

    .width-75 {
        max-width: 1050px;
    }

    .width-70 {
        max-width: 980px;
    }

    .width-60 {
        max-width: 840px;
    }

    .width-55 {
        max-width: 770px;
    }

    .width-50 {
        max-width: 700px;
    }
}

@media (max-width: 768px) {

    .width-90,
    .width-80,
    .width-80,
    .width-75,
    .width-70,
    .width-60,
    .width-55,
    .width-50 {
        max-width: unset;
    }
}

/*===================== BACKGROUND COLORS===================== */
.bg-midnight-blue {
    background-color: #00376e;
}

.bg-steeltoe-blue {
    background-color: #0066cc;
}

.bg-grey {
    background-color: #f3f6f8;
}

.bg-dk-midnight-blue {
    background-color: #001f3f;
}

.bg-yellow {
    background-color: #ffd700;
}

.blue-slant {
    background-image: url(../images/top-bottom-slanted.svg);
    padding: 9% 0 0 0;
    background-repeat: no-repeat;
    background-position-y: -1px;
    background-position-x: 50%;
}

.left-yellow-slant {
    background-image: url(../images/left-yellow-slant.svg);
    padding: 5% 0 0 0;
    background-repeat: no-repeat;
    background-position-y: -1px;
    background-size: 51% auto;
}

.yellow-slant {
    background-image: url(../images/yellow-slant.png);
    background-repeat: no-repeat;
    background-position-y: 52%;
    background-position-x: 50%;
    min-height: 200px;
}


/*=====================FONT COLORS===================== */
.yellow {
    color: #ffd700;
}

.grey {
    color: #373737;
}

.black {
    color: black;
}

.steeltoe-blue {
    color: #0066cc;
}

.midnight-blue {
    color: #00376e;
}

/* =====================BORDER COLORS===================== */
.border-yellow {
    border-color: #ffd700;
    border-width: 2px;
    border-style: solid;
}

.border-steeltoe-blue {
    border-color: #0066cc;
    border-width: 1px;
    border-style: solid;
}

.border-bottom-steeltoe-blue {
    border-bottom-color: #0066cc;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}


/* =====================BOOTSTRAP OVERRIDE===================== */
.row {
    width: 100%;
}

.hide {
    display: none;
}

.container {
    padding: 0;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #0066cc;
    text-decoration: none;
    background-color: #eeeeee;
}

/* =====================HTML ELEMENT OVERRIDE===================== */
pre {
    box-shadow: 3px 3px 0px 0px #0066cc;
    background-color: #001f3f;
}

code.language-bash:before,
code.bash:before {
    content: "$ ";
}

code.language-powershell:before,
code.powershell:before {
    content: "PS C:\\> ";
}

.code-badge {
    background: none !important;
    border-radius: 0 !important;
}

code {
    tab-size: 2;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1em;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.375rem;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
}

h4 {
    font-style: normal;
    font-weight: bold;
}

a,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .show>.nav-link {
    text-decoration: none;
    color: #0066cc;
}

/* =====================FONT STYLING===================== */
.special-link {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffd700;
    font-size: smaller;
}

.font-sm {
    font-size: 90%;
}

.font-normal {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.line-height-30 {
    line-height: 30px;
}

.line-height-35 {
    line-height: 35px;
}

.line-height-40 {
    line-height: 40px;
}

/* =====================PAGE ITEMS===================== */

#main {}

#footer {
    padding-top: 5%;
}

.bottom-bar .col,
.bottom-bar .col .nav-link {
    color: white;
}

.bottom-bar .col .nav-link {
    color: white;
}

.btn:hover {
    box-shadow: 2px 2px 7px 0px #eeeeee;
}

.breadcrumbs {
    padding: 4% 0 0 0;
}

.breadcrumbs ul {
    font-weight: bold;
    padding: 0;
}

.breadcrumbs ul li {
    color: #00376e !important;
    list-style: none;
    display: inline-block;
}

.breadcrumbs ul li.delimiter {
    padding: 0 10px 0 10px;
    font-weight: normal;
}

.breadcrumbs ul li a {
    text-decoration: none;
    font-weight: normal;
    color: #00376e;
}

.banner {
    background-color: #001f3f;
    font-size: 114%;
}

.get-started-button {
    text-transform: uppercase;
    border-color: #ffd700;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    font-size: 83%;
}

.banner .sign {
    border-color: #ffd700;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.banner .desc {
    color: white;
}

.component,
.component-dark {
    margin: 3% 2% 4% 0 !important;
    padding: 3% !important;
    text-align: left;
    border: 1px solid #eeeeee;
    border-top: 11px solid #ffd700;
}

.component-dark:hover {
    box-shadow: 3px 3px 13px 0px #0066cc;
}

.component:hover {
    box-shadow: 3px 3px 13px 0px #eeeeee;
}

.component:last-child,
.component-dark:last-child {
    margin-right: 0 !important;
}

.component-dark .title {
    color: white;
}

.component .title {
    color: #00376e;
}

.component-dark .desc {
    color: white;
    margin: 3% 0 3% 0;
    min-height: 90px;
}

.component .desc {
    color: #373737;
    margin: 3% 0 3% 0;
    min-height: 90px;
}

.news .date {
    font-size: 75%;
    text-transform: uppercase;
    line-height: 25px;
}

.news .date span {
    font-size: 88%;
}

.news .title {
    font-weight: bold;
}

.news .desc {
    margin: 1% 0 1% 0;
}

.news .special-link {
    font-size: 80%;
}

.stat {
    font-size: 150%;
}

.stat .number {
    font-weight: bold;
    font-size: 150%;
    color: #0066cc;
}

.stat .desc {
    color: #0066cc;
    font-size: 90%;
}

.testimonial {
    box-shadow: 0 0 20px 4px #eeeeee;
    padding: 30px !important;
    background-color: white;
}

.testimonial:nth-child(even) {
    margin: 0 4% 0 4%;
}

.testimonial .desc {
    padding-bottom: 10px;
    line-height: 20px;
}

.testimonial .name {
    text-align: right;
}

.nav-tabs {
    margin: 10px 0 0 0;
}

.nav-link {
    padding: unset;
    display: unset;
}

.nav-item {
    /*background-color: white;
box-shadow: 0 -9px 18px -6px #eeeeee;
border-right: 1px solid #eeeeee;
border-bottom: 1px solid #eeeeee;
border-left: 0;
border-top: 0;
border-radius: 0;*/
    padding: 15px;
    /*min-width: 150px;*/
}

/*.nav-item:first-child {
box-shadow: -9px 0 18px -6px #eeeeee, 0 -9px 18px -6px #eeeeee;
}
.nav-item:last-child {
box-shadow: 9px 0 18px -6px #eeeeee, 0 -9px 18px -6px #eeeeee;
border-right: 0;
}*/
.nav-item.active {
    font-weight: bold;
    border-bottom: 0;
}

.nav-tabs-body {
    /*min-height: 200px;*/
    box-shadow: 0 0 20px 4px #eeeeee;
    padding: 20px 20px 20px 40px;
}

.nav-tabs-body ol li {
    color: #373737;
}

.nav-tabs-body ol li:nth-child(even) {
    margin: 15px 0 15px 0;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
}

.dropdown-item {
    padding: .25rem 1.5rem !important;
    display: block !important;
    color: #0066cc;
}

.getting-started-ordered-list ol li img {
    box-shadow: 0 0 19px 4px #eeeeee;
    margin: 20px 0 20px 0;
}

.getting-started-title,
.tutorial-title {
    color: #0066cc;
    font-weight: bold;
    margin: 40px 0 25px 0;
}

.getting-started-desc,
.tutorial-desc {
    color: #0066cc;
}

.getting-started-header {
    margin: 30px 0 0 0;
    color: #00376e;
}

.getting-started-header:nth-child(2n+1) {
    margin-top: 50px;
}

.getting-started-tabs {}

.getting-started-ordered-list {
    padding: 0 20px 20px 40px;
}

.getting-started-ordered-list ol li {
    margin: 0 0 10px 0;
    color: #373737;
    margin: 25px 0 25px 0;
}

.getting-started-ordered-list ul li {
    margin: 0 0 10px 0;
}

.note .row,
.note .col {
    margin: 0 !important;
}

.note-title {
    text-transform: capitalize;
    color: white;
    padding: 5px;
}

.note-title::before {
    display: inline-block;
    content: "!";
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    width: 16px;
    height: 16px;
    line-height: 12px;
    text-align: center;
    color: #3b89d8;
    font-weight: bold;
    margin: 5px 5px 5px 5px;
}

.note-desc {
    color: #636567;
    padding: 15px;
}

.tip-title {
    text-transform: capitalize;
    color: white;
    padding: 5px;
}

.tip-title::before {
    display: inline-block;
    content: "!";
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    width: 16px;
    height: 16px;
    line-height: 12px;
    text-align: center;
    color: #1abc9c;
    font-weight: bold;
    margin: 5px 5px 5px 5px;
}

.tip-desc {
    color: #636567;
    padding: 15px;
}

.component-title,
.get-started-title {
    color: #00376e;
    font-weight: bold;
    font-size: 280%;
    padding: 25px 0 25px 0;
}

.component-desc {
    color: #00376e;
    margin: 0 0 6% 0;
    font-size: 150%;
}

.wire-button {
    background-color: white;
    text-align: center;
    padding: 15px 20px 15px 20px;
    min-width: 275px;
}

.component-button {
    background-color: #0066cc;
    text-align: center;
    padding: 15px 15% 15px 15%;
    min-width: 275px;
}

.component-button.nav-link {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 90%;
}

.component-whatis-title,
.component-whyuse-title,
.tutorial .title {
    font-weight: bold;
    color: #00376e;
    font-weight: bold;
    font-size: 2.375rem;
}

.component-whatis-desc,
.component-whyuse-desc,
.tutorial .desc {
    color: #373737;
}

.component-feature {
    margin-bottom: 7%;
    padding-bottom: 7%;
    border-bottom-color: #0066cc;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.component-feature-title {
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 9%
}

.component-feature-desc {
    line-height: 1.7em;
}

.component-feature-img {
    border-radius: 50%;
    padding: 13%;
    background-color: #e4f1ff;
    margin: 0 25% 0 25%;
}

/*.component-feature-img img, .component-feature-img svg {
	max-height: 108px;
	max-width: 108px;
}*/
.component-resources {
    background-color: #fafafa;
    padding: 35px 0 35px 0;
}

.component-resources-title {
    color: #00376e;
    font-weight: bold;
    font-size: 150%;
    margin: 0 0 20px 0;
}

.component-resource {
    margin: 0 25px 0 0;
}

.component-resource,
.get-started-tutorial {
    box-shadow: 0 0 20px 4px #eeeeee;
}

.component-resource .title {
    color: #373737;
    background-color: white;
    padding: 20px 20px 5px 20px;
    min-height: 80px;
}

.component-resource .desc {
    background-color: #e4f1ff;
    min-height: 170px;
    padding: 20px;
}

.get-started-tutorials .col-2 {
    min-width: 24%;
    flex: 0 0 24%;
}

.get-started-tutorial {
    padding: 20px !important;
    margin-bottom: 7%;
    min-height: 230px;
}

.get-started-tutorial .title {
    color: #373737;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.get-started-title {
    margin: 40px 0 25px 0;
}

.docs h1 {
    font-display: auto;
    font-size: 180%;
    font-style: normal;
    font-weight: bold;
}

.docs h2 {
    font-display: auto;
    font-size: 120%;
    font-style: normal;
    font-weight: bold;
}

.docs h3 {
    font-display: auto;
    font-size: 100%;
    font-style: normal;
    font-weight: bold;
}

.docs h4 {
    font-display: auto;
    font-size: 100%;
    font-style: normal;
    font-weight: bold;
}

#iframe {
    width: 100%;
    height: 1200px;
    border: 0;
    margin: 25px 0 0 0;
}

.overall-get-started-item {}

.overall-get-started-item .title {
    font-weight: bold;
    color: #00376e;
    font-size: 125%;
    padding: 0 0 .5% 0;
}

.overall-get-started-item .links a {
    width: 49%;
    margin: 0 0 .5% 0;
}

.overall-get-started-item .links a:before {
    content: "\2022";
    padding-right: 5px;
}

.tools-title {
    color: #00376e;
    font-weight: bold;
    font-size: 280%;
    padding: 25px 0 25px 0;
}

.tools-item {
    box-shadow: 0 0 20px 4px #eeeeee;
    padding: 5% !important;
    margin-bottom: 3%;
}

.tools-item .title {
    color: #373737;
    margin: 0 0 10px 0;
}

.tools-item .desc {}

/* =========================DOCS======================== */
.table {
    margin: 2% 0 3% 0;
}

.table thead {
    background-color: #e4f1ff;
    color: #00376e;
}

.table thead th,
.table td,
.table th {
    border: 0;
    color: #00376e;
}

.table tbody tr:nth-child(2n) {
    background-color: #f7f7f7;
}

.blockquote {
    font-size: inherit;
    margin-top: 5%;
}

.blockquote::before {
    content: '! Note';
    width: 100%;
    background-color: #1abc9c;
    text-transform: capitalize;
    color: white;
    padding: 8px 0 8px 14px;
    display: block;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.blockquote p {
    background-color: #dbfaf4;
    padding: 1.5% 2% 1.5% 2%;
}

.docs-nav-col {
    position: fixed;
    top: 126px;
    width: 23%;
    overflow-y: auto;
    max-height: 78%;
}

@media (min-width: 1400px) {
    .docs-nav-col {
        width: 332px;
    }
}

.docs-content-col {
    flex: 0 0 72%;
    max-width: 72%;
    position: relative;
    left: 30%;
    top: 44px;
    min-height: 200px;
}

.docs-content-col p,
.docs-content-col h1,
.docs-content-col h2,
.docs-content-col h3,
.docs-content-col h4 {
    color: #373737;
}

.docs-content-col ul {
    padding-left: 2%;
}

/* =========================DOCS NAVIGATION======================== */
.docs-nav-col .row:last-child {
    border: 2px solid #0066cc;
    padding: 4% 0 4% 0;
}

.nav-version {
    padding: 3% 0 3% 0;
}

.nav-version.selected {
    border-top: 5px solid #ffd700;
    /*border-left: 1px solid #0066cc;
	border-right: 1px solid #0066cc;*/
    background-color: #00376e;
    color: white;
}

nav {
    /*position: fixed;
	width: 17%;
	border: 1px solid #0066cc;*/
}

.blazored-menu {
    margin: unset;
}

.blazored-menu .blazored-sub-menu-header div[role=button] {
    font-weight: bold;
}

ul.blazored-menu li {
    list-style: none;
    color: #001f3f;
}

ul.blazored-menu li a {
    cursor: pointer;
}

ul.blazored-menu li a.active {
    color: #333;
}

ul.blazored-sub-menu {
    padding-left: 15px;
}

li.blazored-sub-menu-header {
    color: #303030;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

li.blazored-sub-menu-header div:hover {
    color: #3371e3;
}

li.blazored-sub-menu-header::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -14px;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    border-color: transparent transparent transparent #3371e3;
    transform: rotate(0deg);
    transition: 0.3s;
    cursor: default;
}

li.blazored-sub-menu-header.open::before {
    transform: rotate(90deg);
}

.blazored-sub-menu {
    display: none;
    list-style: none;
}

.blazored-sub-menu-header.open .blazored-sub-menu {
    display: block;
}

.blazored-sub-menu .blazored-sub-menu-header .blazored-sub-menu {
    display: none;
    list-style: none;
}

.blazored-sub-menu .blazored-sub-menu-header.open .blazored-sub-menu {
    display: block;
}

div[role=button] a.active,
.blazored-sub-menu li a.active {
    /*background-color: #dddddd;*/
    padding: 3px;
}

.blazored-sub-menu .blazored-sub-menu-header.open .blazored-sub-menu li a.active {
    background-color: #dddddd;
    padding: 3px;
}

.blazored-sub-menu .blazored-sub-menu-header.open .blazored-sub-menu li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blazored-sub-menu-header.open .blazored-sub-menu .blazored-sub-menu-header div[role=button] {
    font-weight: normal;
}
