@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 100 400;
    src: url("/fonts/Metropolis-Regular.woff2") format("woff2"), url("/fonts/Metropolis-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Metropolis';
    font-weight: 450;
    font-style: normal;
    src: url("/fonts/Metropolis-Medium.woff2") format("woff2"), url("/fonts/Metropolis-Medium.woff") format("woff");
}

@font-face {
    font-family: 'Metropolis';
    font-family: 'Metropolis';
    font-weight: 500 bold;
    font-style: normal;
    src: url("/fonts/Metropolis-Bold.woff2") format("woff2"), url("/fonts/Metropolis-Bold.woff") format("woff");
}
