{{!include(/^styles/.*/)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  {{>partials/head}}
  <body data-spy="scroll" data-target="#affix" data-offset="120">
    <div id="wrapper">
      <header class="bg-white">
        {{^_disableNavbar}}
          {{>partials/navbar}}
        {{/_disableNavbar}}
        {{^_disableBreadcrumb}}
          {{>partials/breadcrumb}}
        {{/_disableBreadcrumb}}
      </header>
      {{#_enableSearch}}
      <div class="container body-content">
        {{>partials/searchResults}}
      </div>
      {{/_enableSearch}}
      <div role="main" class="container-fluid body-content hide-when-search">
        <div class="row">
          <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
            {{^_disableToc}}
              {{>partials/toc}}
            {{/_disableToc}}
          </div>
          <div class="col article-wrapper">
            <article class="content wrap" id="_content" data-uid="{{uid}}">
              {{>partials/blog-specs}}
              {{#_showBackToBlogs}}<div class="row col"><a href="../../articles/index.html">&lt;&lt; Back to blogs</a></div>{{/_showBackToBlogs}}
              {{!body}}
              {{#_showBackToBlogs}}<div class="row col pt-2"><a href="../../articles/index.html">&lt;&lt; Back to blogs</a></div>{{/_showBackToBlogs}}
            </article>
          </div>
          <div class="col-2">
            {{^_disableAffix}}
              <div class="d-none d-md-block" role="complementary">
                {{>partials/affix}}
              </div>
            {{/_disableAffix}}
          </div>
        </div>
        {{^_disableFooter}}
          {{>partials/footer}}
        {{/_disableFooter}}
      </div>
    </div>
    {{>partials/scripts}}
  </body>
</html>
