{{!include(/^styles/.*/)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  {{>partials/head}}
  <body data-spy="scroll" data-target="#affix" data-offset="120">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMDFJKF" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>var currentTheme = localStorage.getItem("theme");if (currentTheme == "dark") {document.body.classList.toggle("dark");} else if (currentTheme == "light") {document.body.classList.toggle("light");}</script>
    <div id="wrapper">
      <header class="bg-white">
        {{^_disableNavbar}}
          {{>partials/navbar}}
        {{/_disableNavbar}}
      </header>
      {{#_enableSearch}}
      <div class="container body-content">
        {{>partials/searchResults}}
      </div>
      {{/_enableSearch}}
      <div role="main" class="container-fluid body-content hide-when-search">
        <div class="row">
          {{^_disableToc}}
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
                {{>partials/toc}}
            </div>
          {{/_disableToc}}
          {{#_disableAffix}}
            <div class="col article-wrapper">
          {{/_disableAffix}}
          {{^_disableAffix}}
            {{#_disableToc}}
              <div class="article-wrapper blog-wrapper col-xl-9 col-lg-12 col-md-12 col-sm-12">
            {{/_disableToc}}
            {{^_disableToc}}
              <div class="col-xl-7 article-wrapper doc-wrapper">
            {{/_disableToc}}
          {{/_disableAffix}}
            <article class="content wrap" id="_content" data-uid="{{uid}}">
              {{^_disableBreadcrumb}}
                {{>partials/breadcrumb}}
              {{/_disableBreadcrumb}}
              {{>partials/blog-specs}}
              {{#_showBackToBlogs}}<div class="row col hidewhenembedded"><a href="../../articles/index.html">&lt;&lt; Back to blogs</a></div>{{/_showBackToBlogs}}
              {{!body}}
              {{#_showBackToBlogs}}<div class="row col pt-2 hidewhenembedded"><a href="../../articles/index.html">&lt;&lt; Back to blogs</a></div>{{/_showBackToBlogs}}
            </article>
          </div>
          {{^_disableAffix}}
            <div class="col-2">
                <div class="d-none d-md-block" role="complementary">
                  {{>partials/affix}}
                </div>
            </div>
          {{/_disableAffix}}
        </div>
        {{^_disableFooter}}
          {{>partials/footer}}
        {{/_disableFooter}}
      </div>
    </div>
    {{>partials/scripts}}
  </body>
</html>
