@page "/"
@page "/index"

<div class="width-all">
	<div class="width-60">
		<div class="row no-gutters">
			<div class="col">Hi there.</div>
			<NavLink class="navlink" href="/discovery" />
		</div>
	</div>
</div>