
<footer>
    <div class="width-all bg-midnight-blue">
        <div class="width-90 container" id="footer">
            <div class="row bottom-bar">
                <div class="col-sm-4 pl-5 text-center">
                    <Href href="/index">
                        <?xml version="1.0" encoding="utf-8" ?>
                        <!-- Generator: Adobe Illustrator 23.0.6, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="75px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 617.6 180.5" xml:space="preserve">
                            <style type="text/css">.logo-white { fill: #FFFFFF; }</style>
                            <title>PVLG-Steeltoe-white-2019</title>
                            <polygon class="logo-white" points="70.7,176.2 35.4,115 0,135.4 " />
                            <polygon class="logo-white" points="78.2,96.2 5.2,54.1 39,112.8 78.2,180.5 156.3,135.4 119.8,72.2 " />
                            <polygon class="logo-white" points="78.2,0 0,45.1 78.2,90.2 78.2,90.2 156.3,45.1 " />
                            <path class="logo-white" d="M231.6,77c2.9,1.2,5.9,2.2,8.9,2.8c3.3,0.8,6.6,1.8,9.8,3c2.5,1,4.7,2.6,6.5,4.7c1.9,2.4,2.9,5.4,2.7,8.5c0.1,4.2-1.8,8.2-5.1,10.9c-3.5,2.9-8.3,4.4-14.6,4.4c-6.5,0.1-12.9-1.5-18.6-4.6c-1.1-0.8-1.8-2.1-1.7-3.4c0-1.1,0.4-2.1,1.1-2.9c0.7-0.8,1.8-1.3,2.9-1.2c0.6,0,1.3,0.1,1.9,0.4c2.1,0.9,4.3,1.7,6.5,2.2c2.4,0.6,4.9,0.9,7.4,0.8c7.6,0,11.4-2.4,11.4-7.3c0-1.6-1.1-3.1-2.6-3.6c-2.8-1.2-5.6-2.1-8.6-2.8c-3.4-0.8-6.7-1.8-10-3c-2.6-1-4.9-2.6-6.8-4.7c-1.9-2.3-2.9-5.2-2.8-8.2c-0.1-4.5,1.8-8.8,5.1-11.7c3.5-3,8.4-4.5,14.8-4.5c5.1,0,10.1,0.8,14.8,2.6c0.9,0.2,1.7,0.8,2.2,1.5c1.2,1.6,1,3.8-0.4,5.2c-0.8,0.8-1.8,1.2-2.9,1.2c-0.4,0-0.9-0.1-1.3-0.2c-3.8-1.2-7.7-1.8-11.7-1.9c-3.7,0-6.6,0.6-8.6,2c-1.9,1-3.1,3-3.1,5.1C228.7,74.3,229.8,76.1,231.6,77z" />
                            <path class="logo-white" d="M299.3,103c0.7,0.7,1.1,1.6,1.1,2.6c0,1.6-0.9,3-2.3,3.6c-2.7,1.2-5.6,1.9-8.5,1.9c-10,0-14.9-4.5-14.9-13.5V65.8h-7.3c-1.1,0-1.9-0.8-1.9-1.9c0,0,0,0,0-0.1c0-0.7,0.3-1.3,0.9-1.7l13.9-13.6c0.4-0.5,1.1-0.8,1.7-0.9c0.5,0,1,0.2,1.4,0.6c0.4,0.4,0.6,0.9,0.6,1.4v8.2h11.5c2.1-0.1,3.9,1.5,4,3.7c0,0.1,0,0.2,0,0.3c0,1-0.4,2.1-1.1,2.8c-0.7,0.8-1.8,1.2-2.9,1.2H284v30.9c0,2.6,0.6,4.4,1.9,5.1c1.5,0.8,3.1,1.1,4.8,1.1c1.4,0,2.8-0.2,4.1-0.6c0.3-0.1,0.6-0.1,0.9-0.2c0.4-0.1,0.8-0.1,1.2-0.1C297.8,101.9,298.7,102.3,299.3,103z" />
                            <path class="logo-white" d="M353.4,99.8c0.8,0.7,1.3,1.8,1.2,2.9c0,1.5-0.9,2.8-2.7,3.8c-2.5,1.4-5.1,2.6-7.9,3.4c-3.3,0.8-6.6,1.2-10,1.1c-8.3,0-14.8-2.4-19.5-7.1s-7-11.4-7-20c-0.1-4.6,0.9-9.2,2.7-13.4c1.7-4,4.6-7.5,8.2-9.9c8.2-5,18.5-5.1,26.7-0.3c3.6,2.3,6.5,5.6,8.4,9.4c1.9,4,2.9,8.4,2.9,12.9c0,1.2-0.4,2.4-1.3,3.3c-0.9,0.9-2.1,1.4-3.4,1.3H317c0.6,4.8,2.3,8.5,5.3,11.2c3,2.7,7.2,4,12.6,4c2.5,0,5.1-0.2,7.5-0.8c2.2-0.6,4.3-1.4,6.3-2.3c0.6-0.3,1.2-0.4,1.9-0.4C351.6,98.8,352.6,99.1,353.4,99.8zM325.1,66.2c-2.3,1.1-4.3,2.8-5.6,5c-1.6,2.5-2.5,5.4-2.5,8.4h30.2c-0.1-3-1-5.9-2.6-8.4c-1.4-2.1-3.4-3.9-5.7-5c-2.1-1-4.5-1.6-6.8-1.6C329.7,64.7,327.3,65.2,325.1,66.2z" />
                            <path class="logo-white" d="M411.7,99.8c0.8,0.7,1.3,1.8,1.2,2.9c0,1.5-0.9,2.8-2.7,3.8c-2.5,1.4-5.1,2.6-7.9,3.4c-3.3,0.8-6.6,1.2-10,1.1c-8.3,0-14.8-2.4-19.5-7.1s-7-11.4-7-20c-0.1-4.6,0.9-9.2,2.7-13.4c1.7-4,4.6-7.5,8.2-9.9c8.2-5,18.5-5.1,26.7-0.3c3.6,2.3,6.5,5.6,8.4,9.4c1.9,4,2.9,8.4,2.9,12.9c0,1.2-0.4,2.4-1.3,3.3c-0.9,0.9-2.1,1.4-3.4,1.3h-34.7c0.6,4.8,2.3,8.5,5.3,11.2c3,2.7,7.2,4,12.6,4c2.5,0,5.1-0.2,7.5-0.8c2.2-0.6,4.3-1.4,6.3-2.3c0.6-0.3,1.2-0.4,1.9-0.4C409.9,98.7,411,99.1,411.7,99.8zM383.5,66.2c-2.3,1.1-4.2,2.8-5.6,5c-1.6,2.5-2.5,5.4-2.6,8.4h30.2c-0.1-3-1-5.9-2.6-8.4c-1.4-2.1-3.4-3.9-5.7-5c-2.1-1-4.5-1.6-6.8-1.6C388,64.7,385.6,65.2,383.5,66.2z" />
                            <path class="logo-white" d="M436.1,36.1c0.9,0.9,1.4,2.1,1.3,3.4v66.4c0,1.2-0.5,2.4-1.4,3.3c-0.9,0.9-2.1,1.4-3.3,1.4c-1.2,0-2.4-0.5-3.3-1.4c-0.9-0.9-1.4-2.1-1.3-3.3V39.5c0-1.2,0.5-2.5,1.3-3.3c0.9-0.9,2-1.4,3.3-1.4C434,34.7,435.2,35.2,436.1,36.1z" />
                            <path class="logo-white" d="M482.4,103c0.7,0.7,1.1,1.6,1.1,2.6c0,1.6-0.9,3-2.3,3.6c-2.7,1.2-5.6,1.9-8.5,1.9c-10,0-14.9-4.5-14.9-13.5V65.8h-7.3c-1.1,0-1.9-0.8-1.9-1.9c0,0,0,0,0-0.1c0-0.7,0.3-1.3,0.9-1.7l13.9-13.6c0.4-0.5,1.1-0.8,1.7-0.9c0.5,0,1,0.2,1.4,0.6c0.4,0.4,0.6,0.9,0.6,1.4v8.2h11.6c2.1-0.1,3.9,1.5,4,3.7c0,0.1,0,0.2,0,0.3c0,1-0.4,2.1-1.1,2.8c-0.7,0.8-1.8,1.2-2.9,1.2h-11.6v30.9c0,2.6,0.7,4.4,1.9,5.1c1.5,0.8,3.1,1.1,4.8,1.1c1.4,0,2.8-0.2,4.1-0.6c0.3-0.1,0.6-0.1,0.9-0.2c0.4-0.1,0.8-0.1,1.2-0.1C480.9,101.9,481.8,102.3,482.4,103z" />
                            <path class="logo-white" d="M530.5,60.2c3.9,2.2,7.1,5.6,9.2,9.6c4.4,9,4.4,19.4,0,28.4c-2.1,4-5.3,7.3-9.2,9.6c-8.6,4.5-18.9,4.5-27.5,0c-3.9-2.2-7.1-5.6-9.2-9.6c-4.3-9-4.3-19.4,0-28.4c2.1-4,5.3-7.3,9.2-9.6C511.6,55.6,521.9,55.6,530.5,60.2L530.5,60.2zM524.8,100.6c2.7-1.4,4.9-3.5,6.4-6.1c1.8-3.3,2.7-6.9,2.5-10.6c0.1-3.7-0.7-7.3-2.5-10.6c-1.5-2.6-3.7-4.7-6.4-6.1c-2.5-1.2-5.2-1.9-8-1.9c-2.8,0-5.6,0.6-8.1,1.9c-2.7,1.3-4.8,3.5-6.3,6.1c-1.8,3.2-2.6,6.9-2.5,10.6c-0.2,3.7,0.7,7.4,2.4,10.6c1.4,2.6,3.6,4.8,6.3,6.1c2.5,1.3,5.3,2,8.1,2C519.5,102.6,522.3,101.9,524.8,100.6L524.8,100.6z" />
                            <path class="logo-white" d="M598.7,99.8c0.8,0.7,1.3,1.8,1.2,2.9c0,1.5-0.9,2.8-2.7,3.8c-2.5,1.4-5.1,2.6-7.9,3.4c-3.3,0.8-6.6,1.2-10,1.1c-8.3,0-14.8-2.4-19.5-7.1s-7-11.4-7-20c-0.1-4.6,0.9-9.2,2.7-13.4c1.7-4,4.6-7.5,8.2-9.9c8.2-5,18.5-5.1,26.7-0.3c3.6,2.3,6.5,5.6,8.4,9.4c1.9,4,2.9,8.4,2.8,12.9c0,1.2-0.4,2.4-1.3,3.3c-0.9,0.9-2.1,1.4-3.4,1.3h-34.7c0.6,4.8,2.3,8.5,5.3,11.2c3,2.7,7.2,4,12.6,4c2.5,0,5.1-0.2,7.5-0.8c2.2-0.6,4.3-1.4,6.3-2.3c0.6-0.3,1.2-0.4,1.9-0.4C596.9,98.7,598,99.1,598.7,99.8zM570.5,66.2c-2.3,1.1-4.2,2.8-5.6,5c-1.6,2.5-2.5,5.4-2.5,8.4h30.2c-0.1-3-1-5.9-2.6-8.4c-1.4-2.1-3.4-3.9-5.7-5c-2.1-1-4.5-1.6-6.8-1.6C575,64.7,572.6,65.2,570.5,66.2z" />
                            <path class="logo-white" d="M611.3,69.5c-3.5,0-6.3-2.8-6.3-6.3c0-3.5,2.8-6.3,6.3-6.3c3.5,0,6.3,2.8,6.3,6.3c0,0,0,0,0,0C617.6,66.6,614.7,69.5,611.3,69.5z M611.3,57.8c-3,0-5.4,2.4-5.4,5.3c0,3,2.4,5.4,5.4,5.4c3,0,5.3-2.4,5.3-5.3c0,0,0,0,0,0C616.6,60.2,614.3,57.8,611.3,57.8C611.3,57.8,611.3,57.8,611.3,57.8z M613,66.8l-1.9-2.9h-1.2v2.9h-1v-7.2h2.9c1.2-0.1,2.3,0.9,2.3,2.1c0,0,0,0,0,0.1c0,1.1-0.8,2-1.8,2.1l2,2.9L613,66.8z M611.8,60.5h-1.9v2.6h1.9c0.7,0,1.3-0.6,1.3-1.3S612.5,60.5,611.8,60.5C611.8,60.5,611.8,60.5,611.8,60.5z" />
                        </svg>
                    </Href>
                    <Href href="https://dotnetfoundation.org/" NewWindow="true">
                        <img src="/images/dotnet_foundation_logo-white.webp" alt=".NET Foundation" style="margin-top:30px;max-width:199px;width:80%" />
                    </Href>
                </div>
                <div class="col" id="footer-why-col">
                    <div class="pb-2 font-weight-bold">Why Steeltoe</div>
                    <div><Href Class="link-light" href="/why-steeltoe">Overview</Href></div>
                    <div><Href Class="link-light" href="/microservices">Microservices</Href></div>
                    <div><Href Class="link-light" href="/cloud">Cloud</Href></div>
                    <div><Href Class="link-light" href="/web-applications">Web Applications</Href></div>
                    <div><Href Class="link-light" href="/event-driven">Event Driven</Href></div>
                </div>
                <div class="col" id="footer-learn-col">
                    <div class="pb-2 font-weight-bold">Learn</div>
                    <div><Href Class="link-light" href="/initializr" NewWindow="true">Steeltoe Initializr</Href></div>
                    <div><Href Class="link-light" href="/guides">Guides</Href></div>
                    <div><Href Class="link-light" href="/docs">Documentation</Href></div>
                    <div><Href Class="link-light" href="/api">API Browser</Href></div>
                    <div><Href Class="link-light" href="/articles">Blog</Href></div>
                </div>
                <div class="col" id="footer-projects-col">
                    <div class="pb-2 font-weight-bold">Projects</div>
                    <div><Href Class="link-light" href="/app-configuration">Application Configuration</Href></div>
                    <div><Href Class="link-light" href="/circuit-breakers">Circuit Breakers</Href></div>
                    <div><Href Class="link-light" href="/logging">Dynamic Logging</Href></div>
                    <div><Href Class="link-light" href="/cloud-management">Management</Href></div>
                    <div><Href Class="link-light" href="/messaging">Messaging</Href></div>
                    <div><Href Class="link-light" href="/docs/v4/fileshares">Network File Sharing</Href></div>
                    <div><Href Class="link-light" href="/security-providers">Security</Href></div>
                    <div><Href Class="link-light" href="/service-connectors">Service Connectors</Href></div>
                    <div><Href Class="link-light" href="/service-discovery">Service Discovery</Href></div>
                    <div><Href Class="link-light" href="/docs/v3/stream">Stream</Href></div>
                </div>
                <div class="col" id="footer-others-col">
                    @*<div class="pb-2 font-weight-bold"><Href href="/training">Training</Href></div>*@
                    <div class="pb-2 font-weight-bold"><Href Class="link-light" href="/support">Support</Href></div>
                    <div class="pb-2 font-weight-bold"><Href Class="link-light" href="/community">Community</Href></div>
                </div>
            </div>
            <div class="row py-sm-0 py-4">
                <div class="col text-end">
                    <Href href="https://github.com/SteeltoeOSS" title="Steeltoe on GitHub" NewWindow="true" Class="link-light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            class="bi bi-github" viewBox="0 0 16 16">
                            <path
                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8">
                            </path>
                        </svg>
                    </Href>
                </div>
                <div class="col">
                    <Href href="https://x.com/steeltoeoss" title="Steeltoe on Twitter/X" NewWindow="true" Class="link-light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                            class="bi bi-twitter-x" viewBox="0 0 16 16">
                            <path
                                d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z">
                            </path>
                        </svg>
                    </Href>
                </div>
            </div>
            <div class="row align-items-center g-0 pt-0">
                <div class="col text-center my-2 small text-secondary">
                    Copyright &copy; 2005-@(DateTime.Now.Year) Broadcom. All Rights Reserved. The term &quot;Broadcom&quot; refers to Broadcom Inc. and/or its subsidiaries.<br />
                    &bull;&nbsp;<Href Class="link-secondary" href="https://www.vmware.com/help/privacy.html" NewWindow="true">Privacy&nbsp;Policy</Href>
                    &bull;&nbsp;<Href Class="link-secondary" href="https://www.vmware.com/help/privacy/california-privacy-rights.html" NewWindow="true">Your&nbsp;California&nbsp;Privacy&nbsp;Rights</Href>
                    &bull;&nbsp;<Href Class="link-secondary" href="https://www.vmware.com/help/legal.html" NewWindow="true">Terms&nbsp;of&nbsp;Use</Href>
                    &bull;&nbsp;<Href Class="link-secondary" href="/SteeltoeTrademarkGuidelines.pdf" NewWindow="true">Trademark&nbsp;Guidelines</Href>
                </div>
            </div>
        </div>
    </div>
</footer>
