@page "/"
@using Steeltoe.Client
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114912118-3"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-114912118-3');
	</script>
	
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">

	<meta property='og:type' content='website'>
	<meta property="og:title" content="Create cloud-native .NET microservices with Steeltoe." />
	<meta property="og:url" content="https://docs.steeltoe.io" />
	<meta property="og:image" content="https://steeltoe.io/images/favicon.png" />
	<meta property="og:description" content="Steeltoe is a .NET framework that provides libraries for quickly creating cloud-native microservices. It's a friend of Spring Cloud and can be used on any cloud platform." />
	<meta name='twitter:title' content='Create cloud-native .NET microservices with Steeltoe.'>

	<meta content="Create cloud-native .NET microservices with Steeltoe." name="DC.Title" xml:lang="EN">
	<meta content="cloud-native, .net, dotnet, framework, cloud, developer" name="DC.Subject" xml:lang="EN">
	<meta content="Steeltoe is a .NET framework that provides libraries for quickly creating cloud-native microservices. It's a friend of Spring Cloud and can be used on any cloud platform." name="description" xml:lang="EN">
	<meta content="EN" name="DC.Language" scheme="dcterms:RFC1766">
	<meta content="https://docs.steeltoe.io/" name="DC.Identifier" schema="DCterms:URI">
	<meta content="text/html" name="DC.Format" schema="DCterms:IMT">
	<meta content="Pivotal Software" name="DC.Creator">
	<meta content="Steeltoe OSS" name="DC.Publisher">
	<meta content="info@steeltoe.io" name="DC.Publisher.Address">
	<meta content="Steeltoe OSS" name="DC.Contributor">
	<meta content="2019-10-03" name="DC.Date" scheme="ISO8601">
	<meta content="text/html" name="DC.Type">
	<meta content="https://docs.steeltoe.io/" name="DC.Identifier">
	<meta content="Copyright 2017, Pivotal Software, Inc.  All rights reserved." name="DC.Rights">

	<base href="/" />
	<title>Steeltoe OSS</title>
	<link href='https://docs.steeltoe.io/' rel='canonical'>
	<link href="https://www.steeltoe.io/images/favicon.png" rel="icon" type="image/png" />
	<link rel="stylesheet" href="https://www.steeltoe.io/css/bootstrap/bootstrap.min.css" />
	<link href="https://www.steeltoe.io/css/site.css" rel="stylesheet" />
</head>
<body>
	<app>@(await Html.RenderComponentAsync<App>(RenderMode.Static))</app>

	<script src="_framework/blazor.webassembly.js"></script>
</body>
</html>
